<h2>Modification du Département</h2>
<br />
<p>Sélectionnez la région pour changer le département de région.</p>
<p>Modifiez le champs du formulaire por changer son nom.</p>
<app-separation></app-separation>
<app-select-region *ngIf="initialRegion" (regionOut)="onSelectRegion($event)" [initialRegion]="initialRegion"></app-select-region>
<app-separation></app-separation>
<div *ngIf="departmentForm&&selectedRegion" class="container-fluid form-group">
  <form [formGroup]="departmentForm" (ngSubmit)="onSubmitForm()">
    <label for="name">Nom du nouveau département : </label>
    <input type="text" id="name" formControlName="name">
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
  <app-separation></app-separation>
</div>