<h2>Ecran de Sélection</h2>
<app-separation></app-separation>
<p>Ici vous pouvez sélectionner une région, un département, une ville ou un sport.</p>
<p>La sélection d'une région permet d'accéder à la sélection des départements présents dans cette région.</p>
<p>Sélectionner un département permet ensuite d'accéder aux villes qui elles permetront d'accéder au sports 
  pratiqués dans la ville.</p>
<p>Les sports peuvent aussi être sélectionnés parmi tout les sport disponibles.</p>
<p>Cliquer sur le lien qui apparait sous la séléction permet d'atterir sur une page détaillant l'élément.</p>
<app-separation></app-separation>
<app-selection></app-selection>
<app-separation></app-separation>